[Desktop Entry]
Type=Application
Name=Pi Media Hub Player
Exec=chromium --kiosk --noerrdialogs --disable-infobars --autoplay-policy=no-user-gesture-required --alsa-output-device=hdmi http://localhost:3000/player.html
